@charset "utf-8";

/* header******************************************************** */
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

header .inbox {
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;

    height: 100%;

    /* outline: 2px solid lime; */
}

header h1 {
    float: left;
    height: 100%;
}

header h1 a img {
    display: block;
    margin-top: 25px;
    height: 50px;
}

/* 덩어리 안에서 float 활용 */
header .menu-wrap {
    float: right;
}

header .menu-wrap .bg {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);

    position: absolute;
    /* header를 기준으로! */
    left: 0;
    top: 100px;

    display: none;
}

header .menu-wrap nav {
    float: left;

    position: relative;
    /* .lnb의 기준! */
}

header nav .gnb>li {
    float: left;
    /* outline: 2px solid red; */

    /* position: relative; */
    /* .lnb의 기준222!!! */
}

header nav .gnb>li:hover {
    box-shadow: 0 -2px #00baf2 inset;
}

header nav .gnb>li~li {
    margin-left: 50px;
}

header nav .gnb>li>a {
    color: #fff;
    display: block;
    line-height: 100px;
    font-size: 20px;
    transition: all 0.5s;
}

header nav .gnb>li>a:hover {
    color: #00baf2;
    transition: all 0.5s;
}

/* 서브메뉴 */
header nav .gnb>li .lnb {
    /* width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100%; */

    position: absolute;

    left: 0;
    top: 100px;

    display: none;
}

header nav .gnb>li#newsletter .lnb {
    left: 333px;
}

header nav .gnb>li#board .lnb {
    left: 503px;
}

header nav .gnb>li#auditions .lnb {
    left: 633px;
}

header nav .gnb>li .lnb li a {
    transition: all 0.3s;
}

header nav .gnb>li .lnb li a:hover {
    color: #00baf2;
    transition: all 0.3s;
}

/* 테스트!!! */
/* header nav .gnb>li .lnb.on {
    display: block;
} */

header nav .gnb>li .lnb::after {
    content: "";
    display: block;
    clear: both;
}

.lnb li {
    float: left;
}

.lnb li~li {
    margin-left: 20px;
}

.lnb li a {
    line-height: 80px;
}

/* .gnb li .lnb::after {
    content: "";
    display: block;
    clear: both;
}
 */

.gnb li .lnb li {}

.gnb li .lnb li a {
    color: #3a5575;
    font-weight: 600;
}

header .menu-wrap .lang {
    /* margin-right: 60px;
    float: right; */

    float: left;
    margin-left: 50px;
    line-height: 100px;
}

header .lang a {
    display: block;
}

header .lang a img {
    margin-top: 35px;
}