@charset "utf-8";

/* MULTIMEDIA */
section {
    background: url(../img/tickets/aladdin_bg.jpeg) no-repeat center/cover;
    background-attachment: fixed;
}

.multimedia {
    background: url(../img/tickets/bg-gradient.png) no-repeat top/100%;
    padding-bottom: 200px;
}

.multimedia .tabmenu {
    margin-bottom: 80px;
}

.tabmenu ul {
    text-align: center;
}

.tabmenu ul li {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #9747FF, #5B2B99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 선택된 탭메뉴 디자인 */
.tabmenu ul li.on {
    border-bottom: 3px solid;
    border-image: linear-gradient(160deg, #9747FF, #5B2B99);
    border-image-slice: 1;
}

.tabmenu ul li:last-child {
    margin-left: 300px;
}

.tabmenu ul li a {
    display: block;
}

.content-box .content {
    display: none;
    /* 탭메뉴 구현위한 초기설정 */
}

#bx-pager {
    text-align: center;
    margin-top: -30px;
}

#bx-pager a {
    margin: 0 3px;
}

#bx-pager a img {
    border: solid #3a5575 1px;
}

#bx-pager a.active img {
    border: solid #00baf2 1px;
}

#video ul {
    display: inline-block;
}

#video ul li {
}

#video ul li video {
    width: 100%;
    max-width: 600px;
}