@charset "utf-8";

/*ABOUT********************************************************/
html,
body {
    height: 100%;
}


/* 텍스트 박스 공통 디자인 */
.txt-box {
    width: 40%;
}

/* 본문 내용 공통 디자인 */
.about-txt {
    color: #333;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 32px;
    word-break: keep-all;
}

/* 본문 이미지박스 공통 디자인 */
.img-box {
    width: 50%;
}

.img-box img {
    display: block;
}

/**********************************************************/
section~section {
    height: 100%;
}

section .sub-main {
    background: url(../img/about/company-header.jpg) no-repeat center top/cover;
}

section.about {
    background: url(../img/about/snco_bg.png) no-repeat right 15%;

    position: relative;
    /* .intro의 기준 */
}

.about .intro {
    position: absolute;
    bottom: 140px;
}

.about .intro h3 {
    color: #3a5575;
    font-size: 64px;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.worldwide {
    background: url(../img/about/WORLDWIDE.png) no-repeat;
    background-size: 100%;
}

.worldwide .about-box {
    height: 100%;

    position: relative;
    /* 텍스트와 이미지의 기준 */
}

.worldwide .about-box .about-txt {
    width: 30%;

    position: absolute;
    bottom: 130px;

    display: none; /* 제이쿼리 구현 위한 초기설정 */
}

.worldwide .img-box {
    position: absolute;
    right: 0;
    bottom: 50px;
    opacity: 0;

    border-top-left-radius: 200px;
    overflow: hidden;
}

.worldwide .img-box img {
    width: 100%;
}

.all-generation {
    background: url(../img/about/ALL_GENERATION.png) no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 100%;
    height: 100%;

    margin-bottom: 100px;
}

.all-generation .about-box {
    height: 100%;

    position: relative;
    /* 텍스트 박스와 이미지의 기준 */
}

.all-generation .img-box {
    position: absolute;
    bottom: -50px; /* 제이쿼리 구현 위한 초기설정 */
    opacity: 0;
    width: 50%;
    height: 90%;

    border-top-right-radius: 200px;
    overflow: hidden;
}

.all-generation .img-box img {
    width: 100%;
}

.all-generation .txt-box {
    position: absolute;
    right: 0;
    bottom: 60px;

    display: none; /* 제이쿼리 구현 위한 초기설정 */
}

.global {
    margin-bottom: 100px;
}

.global .global-box1 {
    background: url(../img/about/GLOBAL_NETWORK.png) no-repeat;
    background-size: 70%;
    height: 100%;
    position: relative;
    /* 텍스트 박스와 이미지의 기준 */
}

.global .global-box1 .txt-box {
    position: absolute;
    left: 20%;
    bottom: 15%;
    width: 30%;

    display: none; /* 제이쿼리 구현 위한 초기설정 */
}

.global .global-box1 .img-box {
    position: absolute;
    right: 0;
    /* 제이쿼리 초기설정을 위한 구현 */
    bottom: -50px;
    opacity: 0;

    border-top-left-radius: 200px;
    overflow: hidden;
}

.global .global-box1 .img-box img {
    width: 100%;
}

.global-box2 {
    height: 100%;
    position: relative;
    /* 텍스트박스와 rug 로고의 기준 */

    background: url(../img/about/Disney_Theatrical-Grp-_logo.png) no-repeat;
    background-position: right bottom;
    background-size: 25%;
}

.global-box2 .img-box {
    border-top-right-radius: 200px;
    overflow: hidden;

    position: absolute;
    left: 0;

    /* 제이쿼리 구현을 위한 초기설정 */
    bottom: -50px;
    opacity: 0;
}

.global-box2 .img-box img {
    width: 100%;
    height: 100%;
}

.global-box2>img {
    width: 25%;
    position: absolute;
    right: 25%;
    z-index: -1;
}

.global-box2 .txt-box {
    width: 30%;

    position: absolute;
    right: 15%;
    top: 55%;

    display: none; /* 제이쿼리 구현 위한 초기설정 */
}

.producer {
    height: 70%;
}

.global-box3 {
    height: 80%;
    position: relative;
    /* .txt-box의 기준 */
}

.global-box3 .img-box {
    position: absolute;
    right: 0;
    bottom: -50px;

    opacity: 0; /* 제이쿼리 구현 위한 초기설정 */
}

.global-box3 .img-box img {
    width: 100%;
}

.global-box3 .about-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: none; /* 제이쿼리 구현 위한 초기설정 */
}

footer {
    margin-top: 100px;
}