@charset "utf-8";

.sub-menu {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 120px;
}

.sub-menu ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.sub-menu ul li:hover a::after {
    width: 100%;
    opacity: 1;
}

.sub-menu ul li a {
    display: block;
    color: #3a5575;
    transition: all 0.5s;

    position: relative;
    /* 밑줄 호버의 기준 */
}

.sub-menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0px;
    height: 2px;
    margin: 1px 0 0;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: #00baf2;
}

.sub-menu ul li a:hover {
    letter-spacing: 1px;
    color: #00baf2;
    transition: all 0.5s;
}